label {
    color: var(--light-gray);
    font-weight: 600;
}

.form-control {
    color: var(--light-gray) !important;
    background: transparent !important;
    border-radius: 0px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-color: var(--light-gray);
}

.form-control::placeholder {
    color: var(--light-gray);
    opacity: 0.5;
}

.card {
    width: 100%;
    height: 200px;
    border-radius: 0px !important;
    border-width: 1px !important;
    border-color: var(--pink) !important;
    background-color: var(--dark-gray);
    cursor: pointer;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.remove-top-left {
    border-top: none !important;
    border-left: none !important;
}

.remove-left {
    border-left: none !important;
}

.remove-left-bottom {
    border-left: none !important;
    border-bottom: none !important;
}

.remove-top {
    border-top: none !important;
}

.remove-top-right {
    border-top: none !important;
    border-right: none !important;
}

.remove-right {
    border-right: none !important;
}

.remove-bottom-right {
    border-bottom: none !important;
    border-right: none !important;
}

.remove-bottom {
    border-bottom: none !important;
}

.col-4 {
    padding: 0 !important;
}

.hidden {
    color: transparent !important;
}

.hidden-x-0 {
    display: none;
}

.hidden-o-0 {
    display: none;
}

.hidden-x-1 {
    display: none;
}

.hidden-o-1 {
    display: none;
}

.hidden-x-2 {
    display: none;
}

.hidden-o-2 {
    display: none;
}

.hidden-x-3 {
    display: none;
}

.hidden-o-3 {
    display: none;
}

.hidden-x-4 {
    display: none;
}

.hidden-o-4 {
    display: none;
}

.hidden-x-5 {
    display: none;
}

.hidden-o-5 {
    display: none;
}

.hidden-x-6 {
    display: none;
}

.hidden-o-6 {
    display: none;
}

.hidden-x-7 {
    display: none;
}

.hidden-o-7 {
    display: none;
}

.hidden-x-8 {
    display: none;
}

.hidden-o-8 {
    display: none;
}

.icons {
    margin: 0 auto;
    text-align: center;
    font-size: 7em;
}

.disable-events {
    pointer-events: none;
}

.btn:focus {
    outline: 0px !important;
    box-shadow: none !important;
}