<div class="bg font">
  <div class="container">
    <br>
    <form *ngIf="visibleHash == false">
      <br><br><br>
      <div class="row">
        <div class="col-12">
          <h1 class="center">JOGO DA VELHA</h1>
          <div class="form-group">
            <label>Jogador 1 &nbsp;&nbsp; <sup><i class="fas fa-asterisk"></i></sup></label>
            <input [(ngModel)]="playerOne" [ngModelOptions]="{standalone: true}" class="form-control" id="playerOne"
              placeholder="Digite o nome do jogador 1 (será o 'X')">
            <div>
              <br>
              <label for="">Escolha a sua cor Jogador 1 &nbsp;&nbsp;<sup><i class="fas fa-asterisk"></i></sup></label>
            </div>
            <div>
              <label class="colors">
                Vermelho
                <input [(ngModel)]="radioPlayerOne" id="red" name="player1" type="radio" value="red" />
              </label>
              <label class="colors">
                &nbsp;&nbsp;&nbsp;Roxo
                <input [(ngModel)]="radioPlayerOne" id="purple" name="player1" type="radio" value="purple" />
              </label>
              <label class="colors">
                &nbsp;&nbsp;&nbsp;Laranja
                <input [(ngModel)]="radioPlayerOne" id="orange" name="player1" type="radio" value="orange" />
              </label>
              <hr>
            </div>
          </div>
          <div class="form-group margin-bottom">
            <label>Jogador 2 &nbsp;&nbsp; <sup><i class="fas fa-asterisk"></i></sup></label>
            <input [(ngModel)]="playerTwo" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="playerTwo"
              placeholder="Digite o nome do jogador 2 (será o 'O')">
          </div>
          <div>
            <label for="">Escolha a sua cor Jogador 2 &nbsp;&nbsp;<sup><i class="fas fa-asterisk"></i></sup></label>
          </div>
          <div class="colors">
            <label class="colors">
              Verde
              <input [(ngModel)]="radioPlayerTwo" id="green" name="player2" type="radio" value="green" />
            </label>
            <label class="colors">
              &nbsp;&nbsp;&nbsp;Azul
              <input [(ngModel)]="radioPlayerTwo" id="blue" name="player2" type="radio" value="blue" />
            </label>
            <label class="colors">
              &nbsp;&nbsp;&nbsp;Amarelo
              <input [(ngModel)]="radioPlayerTwo" id="yellow" name="player2" type="radio" value="yellow" />
            </label>
            <br><br>
          </div>
          <button class="btn float-right" (click)="confirmPlayers(true)" [disabled]="disableButton">CONFIRMAR</button>
        </div>
      </div>
    </form>

    <div *ngIf="visibleHash == true">
      <div class="row">
        <div class="col-1">
          <i (click)="backGame()" class="fas fa-angle-left icon mouse-click"></i>
        </div>
        <div class="col-11">
          <!-- PLAYER 1 -->
          <h3 *ngIf="turn == 'x' && hiddenName == false" class="player">&nbsp;&nbsp;&nbsp;Vez do(a) <span class="player playerTitle"
              [class.red]="playerOneColor == 'red'" [class.purple]="playerOneColor == 'purple'" [class.orange]="playerOneColor == 'orange'">
              {{turnPlayer}}</span></h3>
          <!-- PLAYER 1 -->

          <!-- PLAYER 2 -->
          <h3 *ngIf="turn == 'o' && hiddenName == false" class="player">&nbsp;&nbsp;&nbsp;Vez do(a) <span class="player playerTitle"
              [class.green]="playerTwoColor == 'green'" [class.blue]="playerTwoColor == 'blue'" [class.yellow]="playerTwoColor == 'yellow'">
              {{turnPlayer}}</span></h3>
          <br>
          <!-- PLAYER 2 -->
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div (click)="selected('0')" class="card remove-top-left remove-bottom remove-right" id="card0">
            <span class="hidden-x-0 icons" id="x0">x</span>
            <span class="hidden-o-0 icons" id="o0">o</span>
          </div>
        </div>
        <div class="col-4">
          <div (click)="selected('1')" class="card remove-top remove-right" id="card1">
            <span class="hidden-x-1 icons" id="x1">x</span>
            <span class="hidden-o-1 icons" id="o1">o</span>
          </div>
        </div>
        <div class="col-4">
          <div (click)="selected('2')" class="card remove-top-right" id="card2">
            <span class="hidden-x-2 icons" id="x2">x</span>
            <span class="hidden-o-2 icons" id="o2">o</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div (click)="selected('3')" class="card remove-left remove-bottom remove-right" id="card3">
            <span class="hidden-x-3 icons" id="x3">x</span>
            <span class="hidden-o-3 icons" id="o3">o</span>
          </div>
        </div>
        <div class="col-4">
          <div (click)="selected('4')" class="card remove-top remove-right remove-bottom" id="card4">
            <span class="hidden-x-4 icons" id="x4">x</span>
            <span class="hidden-o-4 icons" id="o4">o</span>
          </div>
        </div>
        <div class="col-4">
          <div (click)="selected('5')" class="card remove-right remove-top" id="card5">
            <span class="hidden-x-5 icons" id="x5">x</span>
            <span class="hidden-o-5 icons" id="o5">o</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div (click)="selected('6')" class="card remove-left-bottom remove-right" id="card6">
            <span class="hidden-x-6 icons" id="x6">x</span>
            <span class="hidden-o-6 icons" id="o6">o</span>
          </div>
        </div>
        <div class="col-4">
          <div (click)="selected('7')" class="card remove-bottom remove-right" id="card7">
            <span class="hidden-x-7 icons" id="x7">x</span>
            <span class="hidden-o-7 icons" id="o7">o</span>
          </div>
        </div>
        <div class="col-4">
          <div (click)="selected('8')" class="card remove-bottom-right remove-top" id="card8">
            <span class="hidden-x-8 icons" id="x8">x</span>
            <span class="hidden-o-8 icons" id="o8">o</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-lg-4">
          <br>
          <button class="btn result">{{playerOne}} {{playerOneWinner}}</button>
        </div>
        <div class="col-lg-4">
          <br>
          <button class="btn result">{{playerTwo}} {{playerTwoWinner}}</button>
        </div>
        <div class="col-lg-4">
          <br>
          <button class="btn result">Empate(s) {{draw}}</button>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
<app-footer *ngIf="visibleHash == true"></app-footer>